<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.cmput301f13t03.adventure_datetime"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/launch_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light"
        android:largeHeap="true" >
        <activity
            android:name=".view.MainView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ContinueView"
            android:label="Bookmarks"
            android:parentActivityName=".view.MainView" />
        <activity
            android:name=".view.BrowseView"
            android:label="Browse"
            android:parentActivityName=".view.MainView" />
        <activity
            android:name=".view.FragmentViewActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".view.AuthorStories"
            android:label="Your Stories"
            android:parentActivityName=".view.MainView" />
        <activity
            android:name=".view.AuthorStoryDescription"
            android:label="@string/app_name"
            android:parentActivityName=".view.AuthorStories" />
        <activity
            android:name=".view.AuthorEdit"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.StoryDescription"
            android:label="@string/app_name"
            android:parentActivityName=".view.BrowseView" />
        <activity
            android:name=".view.CommentsView"
            android:label="@string/app_name" />
        <activity
            android:name=".view.FullScreen_Image"
            android:label="@string/app_name" />
    </application>

</manifest>