<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.cmput301f13t03.adventure_datetime"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="18" />

    <application
        android:icon="@drawable/launch_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".view.MainView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ContinueView"
            android:label="@string/app_name"
            android:parentActivityName=".view.MainView" />
        <activity
            android:name=".view.BrowseView"
            android:label="@string/app_name"
            android:parentActivityName=".view.MainView" />
        <activity
            android:name=".view.AuthorList"
            android:label="@string/app_name"
            android:parentActivityName=".view.MainView" />
        <activity
            android:name=".view.FragmentView"
            android:label="@string/app_name" />
    </application>

</manifest>